@use "@/styles/variables" as *;

.root {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: calc(100svh - 90px);

    &Wrapper {
        flex: 1;
        gap: .75rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &Title {
        font-size: clamp(1.75rem, 4vw + 0.5rem, 2.5rem);
        font-weight: 800;
    }

    &Description {
        font-size: clamp(0.925rem, 1vw + 0.5rem, 1rem);
        line-height: 1.5rem;
    }

    a {
        margin-top: 1.5rem;
    }
}