$white: #fff;
// $blue-primary: #565fe5;
// $blue-secondary: #515ad7;

$blue-primary: #805ad5;
$blue-secondary: #8d68df;

// dynamic

$primary-light: #1d2337;
$primary-dark: #fff;

$secondary-light: #333b55;
$secondary-dark: #eee;

$outline-dark: #232931;
$outline-light: #f0f0f0;

$background-dark: #0a0e12;
$background-light: #ffffff;

$foreground-dark: #12181e;
$foreground-light: #fff;