@use "@/styles/variables" as *;
@use "@/styles/responsive" as *;

.root {
    padding: calc(3rem + 90px) 1.5rem 3rem;

    @include screen($sm) {
        padding: calc(3rem + 90px) 3rem 3rem;
    }

    &Wrapper {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        
        @include screen($lg) {
            flex-direction: row;
        }

        &Container {
            flex: 1;
            gap: 1.5rem;
            display: flex;
            flex-direction: column;
        }
    }
}

.article {
    gap: .75rem;
    display: flex;
    flex-direction: column;

    &Title {
        font-size: $heading-2;
        font-weight: 800;
    }

    &Description {
        font-size: $paragraph-1;
        font-weight: 500;
        line-height: 1.5rem;
    }
}

.features {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &Item {
        gap: .75rem;
        display: flex;
        flex-direction: column;

        &Icon {


            svg {
                fill: $blue-primary;
                font-size: 1.5rem;
            }
        }

        &Description {
            font-size: $paragraph-2;
            font-weight: 500;
        }

    }
}

.form {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 1.5rem;
    border: 1px solid var(--outline-color);
    background-color: var(--foreground-color);

    &Title {
        font-size: $heading-5;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
}