$white: #fff;
// $blue-primary: #565fe5;
// $blue-secondary: #515ad7;

$blue-primary: #645ad5;
$blue-secondary: #5c5ad5;

// dynamic

$primary-light: #1d2337;
$primary-dark: #fff;

$secondary-light: #333b55;
$secondary-dark: #eee;

$outline-dark: #232931;
$outline-light: #f0f0f0;

$background-dark: #0a0e12;
$background-light: #ffffff;

$foreground-dark: #12181e;
$foreground-light: #fff;



$heading-1: clamp(2.25rem, 3vw + 1rem, 2.75rem);
$heading-2: clamp(2rem, 2.5vw + 1rem, 2.5rem);
$heading-3: clamp(1.25rem, 2vw + 0.5rem, 1.75rem);
$heading-4: clamp(1.25rem, 1.5vw + 0.5rem, 1.5rem);
$heading-5: clamp(1rem, 1vw + 0.5rem, 1.25rem);
$heading-6: clamp(0.875rem, 0.75vw + 0.5rem, 1rem);

$paragraph-1: clamp(0.925rem, 1vw + 0.5rem, 1rem);
$paragraph-2: clamp(0.875rem, .975vw + 0.5rem, .975rem);