@use "@/styles/variables" as *;
@use "@/styles/responsive" as *;

.root {
    padding: calc(3rem + 90px) 1.5rem 3rem;

    @include screen($sm) {
        padding: calc(3rem + 90px) 3rem 3rem;
    }

    &Wrapper {
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
    }
}

.article {
    gap: .75rem;
    display: flex;
    text-align: center;
    flex-direction: column;

    &Title {
        font-size: $heading-2;
        font-weight: 800;
    }

    &Description {
        font-size: $paragraph-1;
        font-weight: 500;
        line-height: 1.5rem;
    }
}

.container {
    gap: 1.5rem;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;

    @include screen($lg) {
        flex-direction: row;
    }

    &Item {
        flex: 1;
        gap: .75rem;
        display: flex;
        align-items: flex-start;
        padding: 3rem;
        border-radius: 1.5rem;
        flex-direction: column;
        border: 1px solid var(--outline-color);
        position: relative;
        background-color: var(--foreground-color);

        &Recommended {
            border: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                padding: 1px;
                background: linear-gradient(to bottom, $blue-primary, var(--outline-color));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                pointer-events: none;
            }

            >button {
                color: $white;
                background-color: $blue-primary;
            }
        }

        &Title {
            font-size: $heading-3;
            font-weight: 600;
        }

        &Description {
            font-size: $paragraph-1;
            font-weight: 500;
            line-height: 1.5rem;
        }

        &Price {
            width: 100%;
            font-size: $heading-3;
            font-weight: 600;
            margin-block: .75rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid var(--outline-color);
        }

        &Advantages {
            gap: .75rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;

            &Item {
                gap: .75rem;
                display: inline-flex;
                align-items: center;

                svg {
                    fill: $blue-primary;
                    font-size: 1.25rem;
                }

                span {
                    font-weight: 500;
                    font-size: $paragraph-2;
                }
            }
        }

        >button {
            width: 100%;
            margin-top: auto;
        }
    }
}

[data-theme="light"] .containerItem {
    box-shadow: 0 .25rem 1.875rem rgba(202, 202, 202, 0.17);
}